.breadcrumbs {
	padding: 30px 0 24px 0;
	margin-bottom: 24px;
	overflow: auto;

	@include scrollbar(100%, 4px);

	@media (max-width: $laptop) {
		margin-bottom: 12px;
	}

	@media (max-width: $mobile-l) {
		padding: 15px 0 12px 0;
		margin-bottom: 12px;
	}
}

.breadcrumbs__container {
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
	display: flex;
	align-items: center;
	color: $text-second;
	white-space: nowrap;

	&:not(:first-child) {

		&::before {
			content: '';
			width: 4px;
			height: 4px;
			background: $accent-second;
			margin: 0 8px;
		}
	}

	&:last-child {
		padding-right: var(--container-padding);
	}

	& a {
		color: $text-label;

		&:active {
			color: brig-color($accent-second, hover);
		}

		@media (any-hover: hover) {

			&:hover {
				color: brig-color($accent-second, hover);
			}

			&:active {
				color: brig-color($accent-second, active);
			}
		}
	}

	&.is-home {

		@media (max-width: $mobile-l) {
			width: 16px;
			height: 16px;

			& a {
				color: transparent;
				display: inline-block;
				width: 100%;
				height: 100%;
				-webkit-mask: center/contain no-repeat url('@img/sprite-new.svg#home');
				mask: center/contain no-repeat url('@img/sprite-new.svg#home');
				background: $text-label;

				&:active {
					background: brig-color($accent-second, hover);
				}

				@media (any-hover: hover) {

					&:hover {
						background: brig-color($accent-second, hover);
					}

					&:active {
						background: brig-color($accent-second, active);
					}
				}
			}
		}
	}
}