.search {
	position: relative;
	height: 50px;
	display: flex;

	&.is-light {

		& .tf__field {

			& input,
			& textarea {
				padding-right: 50px;
			}
		}

		& .search__btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			width: 50px;
			background: transparent;

			&::before {
				margin: 0;
				background: $accent;
			}

			&:active {
				background: transparent;
			}

			@media (any-hover: hover) {

				&:hover {
					background: transparent;
				}

				&:active {
					background: transparent;
				}
			}
		}

		@media (max-width: $laptop) {
			max-width: 690px;
		}

		@media (max-width: $tablet) {
			max-width: 580px;
		}
	}
}

.search__tf {

	// & .tf__field {
	// 	height: 100%;
	// }

	& input {
		border-radius: $radius-s 0 0 $radius-s;
	}
}

.search__btn {
	--icon: url('@img/sprite-new.svg#search');
	--icon-size: 18px;

	height: 100%;
	font-size: 16px;
	font-weight: 700;
	border-radius: 0 $radius-s $radius-s 0;
}