.filter__body {

	&.is-pc {

		& > * {

			&:not(:last-child) {
				margin-bottom: 60px;

				@media (max-width: $laptop) {
					margin-bottom: 40px;
				}
			}
		}
	}

	&.is-mob {
		display: none;
	}
}

// Аккордеон категории
.acc-category {

	& .acc__body {
		background: $frame-light;
	}

}

.acc-category__toggle {

	@media (max-width: 600px) {
		display: none;
	}
}

.acc-category__content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 12px;
	padding: 30px 50px 40px;

	@media (max-width: $laptop) {
		padding: 30px 24px;
	}

	@media (max-width: 900px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (max-width: $tablet) {
		grid-template-columns: repeat(3, 1fr);
		gap: 48px 12px;
	}

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
		gap: 6px;
		padding: 0;
	}
}

.acc-category__block {

	& .acc__toggle-title {
		font-size: 14px;
		font-weight: 700;
		color: $text-primary;
		text-transform: uppercase;
		margin: 0;
	}

	&.is-open {

		& .acc__toggle {
			border-bottom-color: transparent;
		}
	}

	@media (max-width: 600px) {
		background: $light;

		& .acc__toggle {
			justify-content: space-between;
			background: $light;
			border-radius: 4px;
			padding: 12px 20px;
		}

		& .acc__body {
			background: $light;
		}

		& .acc-category__block-list {
			padding: 0 30px 24px;

			& li {

				& a {
					box-shadow: none;
				}
			}
		}

		& .acc-category__block-more {
			padding: 0 30px 24px;
			margin: 0;
		}
	}

	@media (min-width: 601px) {
		background: transparent;

		& .acc__toggle {
			padding: 0;
			cursor: auto;
		}

		& .acc__toggle-title {
			color: $accent-second;
		}

		& .acc__toggle-icon {
			display: none;
		}

		& .acc__body {
			max-height: none !important;
			opacity: 1 !important;
			visibility: visible !important;
		}
	}
}

.acc-category__block-title {
	font-size: 14px;
	font-weight: 700;
	color: $accent-second;
	text-transform: uppercase;
}

.acc-category__block-list {
	padding-top: 16px;

	& li {

		&:not(:last-child) {
			margin-bottom: 16px;
		}

		& a {
			color: $text-second;
			box-shadow: inset 0 -1px var(--color, $text-second);
		}
	}
}

.acc-category__block-more {
	font-size: 13px;
	font-weight: 400;
	color: $text-second;
	margin-top: 16px;
	transition: $tr;

	&::after {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		-webkit-mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
		mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
		background: $accent-second;
		vertical-align: middle;
		margin-left: 6px;
		transition: $tr;
	}

	&:active {
		color: brig-color($accent-second, hover);
	}

	@media (any-hover: hover) {

		&:hover {
			color: $accent-second;
		}

		&:active {
			color: brig-color($accent-second, active);
		}
	}

	&.is-active {

		&::after {
			transform: scale(-1, -1);
		}
	}
}

// Аккордеон с опциями
.acc-options {

	@media (max-width: 600px) {

		& .acc__toggle {
			display: none;
		}
	}
}

.acc-options__content {
	background: $light;
	border: 1px solid $border-line;
	padding: 30px;

	@media (max-width: $mobile-m) {
		background: transparent;
		border: none;
		padding: 0;
	}
}

.acc-options__body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px 45px;

	@media (max-width: 900px) {
		gap: 24px
	}

	@media (max-width: $tablet) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 550px) {
		grid-template-columns: 1fr;
	}
}

.acc-options__block {

	&.is-range {

		& .acc-options__block-body {
			margin-top: 9px;
		}
	}

	&.is-select-checkbox {

		& .acc-options__block-body {
			margin-top: 27px;
		}
	}
}

.acc-options__block-title {
	font-size: 13px;
	font-weight: 700;
	letter-spacing: .04em;
	text-transform: uppercase;

	&::after {
		content: attr(data-prefix);
		display: inline-block;
		font-size: 13px;
		font-weight: 500;
		text-transform: none;
		margin-left: 4px;
	}
}

.acc-options__block-body {

}

.acc-options__range-header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.acc-options__range-tf {
	position: relative;
	height: 26px;
	min-width: 40px;

	& input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 13px;
		font-weight: 400;
		color: $text-second;
		background: $frame-light;
		border-radius: 4px;
		padding: 1px 8px;
	}

	&::before {
		content: attr(data-value);
		font-size: 13px;
		padding: 1px 8px;
	}
}

.acc-options__range-body {
	padding: 24px 10px;
	margin-top: 10px;
}

// Подвал опций
.acc-options__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 32px;

	@media (max-width: 600px) {
		flex-direction: column;
	}
}

.acc-options__footer-left {
	// width: 100%;
	// display: flex;
	// align-items: center;
}

.acc-options__apply {
	max-width: 170px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 700;

	@media (max-width: 600px) {
		max-width: none;
		height: 40px;
		margin-bottom: 6px;
	}
}

.acc-options__result {
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	color: $input-placeholder;
	margin: 0 auto 0 22px;
	white-space: nowrap;

	@media (max-width: $tablet) {
		font-size: 14px;
	}

	@media (max-width: 600px) {
		order: -1;
		margin: 0 auto 12px;
		text-align: center;
	}
}

.acc-options__reset {
	font-size: 16px;
	font-weight: 400;
	color: $text-label;

	&::before {
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		-webkit-mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M19 1.47778L17.5222 0L9.5 8.02222L1.47777 0L0 1.47778L8.02223 9.5L0 17.5222L1.47777 19L9.5 10.9778L17.5222 19L19 17.5222L10.9778 9.5L19 1.47778Z\" fill=\"%23BDBDBD\"/%3E%3C/svg%3E');
		mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M19 1.47778L17.5222 0L9.5 8.02222L1.47777 0L0 1.47778L8.02223 9.5L0 17.5222L1.47777 19L9.5 10.9778L17.5222 19L19 17.5222L10.9778 9.5L19 1.47778Z\" fill=\"%23BDBDBD\"/%3E%3C/svg%3E');
		background: $text-label;
		margin-right: 15px;
		vertical-align: middle;
	}

	@media (max-width: 600px) {
		height: 40px;
		width: 100%;
		color: $text-second;
		background: #fff;
		border: 1px solid $border-line;
		border-radius: $radius-s;

		&::before {
			width: 12px;
			height: 12px;
			background-color: $text-second;
			margin-right: 10px;
		}
	}
}