.find-project {

	&.on-page-main {
		margin-top: 42px;

		@media (max-width: $laptop) {
			margin-top: 20px;
		}
	}
}

.find-project__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;

	@media (max-width: 700px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: $mobile-m) {
		grid-template-columns: repeat(2, 1fr);
	}
}