.header {
	position: relative;
	z-index: 2;
	background: $light;
}

// Темная плашка на моб версии
.header-die {
	display: none;

	@media (max-width: 680px) {
		display: block;
		background: $frame-dark;
		color: $light;
		padding: 5px 0;
	}
}

.header-die__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-die__tels {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: -4px;

	& > * {
		margin: 2px 4px;
	}
}

.header-die__tel {
	font-weight: 700;
}

.header-die__socials {
	margin-left: 12px;

	& .socials__link {
		min-width: 22px;
		width: 22px;
		height: 22px;
		background: none;

		& svg {
			width: 100%;
			height: 100%;
			fill: $text-label;
		}

		&.header-die__callback {
			background: $accent;

			& svg {
				width: 50%;
				height: 50%;
				filter: contrast(0) brightness(2);
			}
		}
	}
}

// Верхняя часть меню
.header-up {
	padding: 12px 0;
	background: $light;
}

.header-up__container {
	display: flex;
	align-items: center;
}

.burger {
	display: none;
}

.header-up__burger {
	margin-right: 35px;

	@media (max-width: $hide-menu) {
		display: block;
	}

	@media (max-width: 900px) {
		margin-right: 20px;
	}
}

// Меню
.menu {
	margin: 0 24px 0 108px;

	@include resVal(margin-left, 16, 108, 1400, 1500);

	@media (max-width: $hide-menu) {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0);
		margin: 0;
		pointer-events: none;
		transition: $tr;

		&.is-show {
			background: rgba(0,0,0,.1);
			pointer-events: fill;

			& .menu__wrap {
				transform: translateX(0);
			}
		}
	}
}

.menu__wrap {

	@media (max-width: $hide-menu) {
		min-width: 500px;
		width: 50%;
		height: 100%;
		background: $light;
		padding: 22px 0 36px;
		overflow-y: auto;
		transform: translateX(-100%);
		transition: $tr;

		@include scrollbar(4px, 100%);
	}

	@media (max-width: 500px) {
		min-width: auto;
		width: 100%;
	}
}

.menu__header {
	display: none;

	@media (max-width: $hide-menu) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 var(--container-padding);
	}
}

.menu__close {
	display: block;

	& span {
		height: 2px;
		background: $text-label;
	}

	&:active {

		& span {
			background: brig-color($text-label, hover);
		}
	}

	@media (any-hover: hover) {

		&:hover {

			& span {
				background: brig-color($text-label, hover);
			}
		}

		&:active {

			& span {
				background: brig-color($text-label, active);
			}
		}
	}

	@media (max-width: $hide-menu) {
		margin-left: 24px;
	}
}

.menu__list {
	display: flex;
	align-items: center;

	& li {
		font-size: 15px;

		&:not(:last-child) {
			margin-right: 24px;

			@media (max-width: 1440px) {
				margin-right: 16px;
			}
		}

		& a {

		}
	}

	@media (max-width: $hide-menu) {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 var(--container-padding);
		margin: 37px 0 37px 32px;

		& li {
			width: 100%;
			font-size: 18px;
			font-weight: 500;

			&:not(:last-child) {
				margin: 0 0 14px 0;
			}

			& a {
				width: 100%;
				display: inline-block;
				padding: 4px 0;
			}
		}
	}
}

.menu__list li.has-sub-menu {
	position: relative;

	& > a {

		&::after {
			content: '';
			display: inline-block;
			width: 12px;
			aspect-ratio: 1;
			-webkit-mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
			mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
			background: $text-label;
			margin-left: 6px;
			vertical-align: middle;
			transition: $tr;
		}
	}

	@media (any-hover: hover) {

		&:hover {
			& .sub-menu {
				transform: translate(0, 100%);
				opacity: 1;
				pointer-events: fill;
			}

			& > a::after {
				background: $accent;
			}
		}
	}
}

.sub-menu {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	transform: translate(0, calc(100% + 10px));
	background: $light;
	border-radius: $radius-s;
	box-shadow: 4px 0px 14px rgba(0, 0, 0, 0.04);
	padding: 18px 0;
	pointer-events: none;
	opacity: 0;
	transition: $tr;

	& li {

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		& a {
			display: block;
			padding: 4px 25px;
			white-space: nowrap;
		}
	}
}

.menu__footer {
	display: none;

	@media (max-width: $hide-menu) {
		display: flex;
		flex-direction: column;
		padding: 0 var(--container-padding);
	}
}

.menu__footer-buttons {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: -4px -2px;

	& > * {
		flex: 1 0 auto;
		margin: 4px 2px;
	}
}

.menu__callback {
	--icon: url('../img/sprite-new.svg#tel');
	--icon-size: 12px;
}

.menu__search {
	height: 40px;
	margin-top: 22px;

	.search__tf {
		--font-size: 14px;
	}

	// .tf__field input,
	// .tf__field textarea,
	// .tf__label {
	// 	font-size: 14px;
	// }
}

.menu__link-calc {
	--icon: url('@img/sprite-new.svg#calc');

	&.has-icon {
		--icon-size: 18px;
		--icon-indent: 10px;
	}
}

.header__email {
	--icon: url('../img/sprite-new.svg#email');

	font-weight: 500;
	margin: 0 20px 0 auto;

	@media (max-width: 900px) {
		display: none;
	}
}

.header__socials {
	margin-right: 18px;

	@media (max-width: 900px) {
		margin-left: auto;
	}

	@media (max-width: 680px) {
		display: none;
	}
}

.header__company-info {
	margin-right: 15px;

	@media (max-width: 680px) {
		display: none;
	}
}

.header__callback {
	--icon: url('../img/sprite-new.svg#tel');
	--icon-size: 12px;

	@media (max-width: 680px) {
		margin-left: auto;
	}

	@media (max-width: 620px) {
		display: none;
	}
}

// Нижняя часть меню
.header-down {
	padding: 7px 0;
	background: $light;
	border-top: 1px solid $border-line;

	@media (max-width: 620px) {
		display: none;
	}
}

.header-down__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: block;
	min-width: 150px;
	max-width: 220px;

	@media (max-width: $laptop) {
		min-width: 138px;
	}
}

.header-up__logo {
	display: none;

	@media (max-width: 620px) {
		display: block;
		max-width: 134px;
		margin-right: 16px;
	}
}

.header-down__logo {

}

.header__location {

	@media (max-width: 620px) {
		margin-left: auto;
	}
}

.header__project-btn {
	margin-left: 26px;

	@media (max-width: 1200px) {
		padding: 0 22px;
		margin-left: 22px;

		& .project-btn__icon {
			display: none;
		}
	}

	@media (max-width: $laptop) {
		height: 46px;
	}
}

// Поиск
.header__search {
	max-width: 660px;
	width: 100%;
	margin-left: 10px;

	@media (max-width: $laptop) {
		height: 46px;
		margin-left: 4px;

		@include searchIsLight;

		& .search__tf {
			--font-size: 15px;
		}

		& .search__btn {
			font-size: 0;
		}
	}
}

.header__link-calc {
	--icon: url('@img/sprite-new.svg#calc');

	&.has-icon {
		--icon-size: 24px;
		--icon-indent: 8px;
	}

	@media (max-width: 1150px) {
		display: none;
	}
}

.header__tools {
	display: flex;
	align-items: center;
	margin-left: 24px;

	& > *:not(:first-child) {
		margin-left: 20px;
	}

	@media (max-width: $laptop) {
		margin-left: 12px;
	}

	@media (max-width: 760px) {
		display: none;
	}
}