// Верхняя часть меню
.header-up {
	border-bottom: 1px solid $border-line;
	padding: 12px 0;
}

.header-up__container {
	display: flex;
	align-items: center;
}

.header__burger {
	display: none;
	margin-right: 35px;

	@media (max-width: $hide-menu) {
		display: block;
	}
}

// Меню
.menu {
	margin: 0 24px 0 108px;

	@include resVal(margin-left, 24, 108, 1400, 1500);



	@media (max-width: $hide-menu) {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0);
		margin: 0;
		pointer-events: none;
		transition: $tr;

		&.is-show {
			background: rgba(0,0,0,.1);
			pointer-events: fill;

			& .menu__wrap {
				transform: translateX(0);
			}
		}
	}
}

.menu__wrap {

	@media (max-width: $hide-menu) {
		min-width: 500px;
		width: 50%;
		height: 100%;
		background: $light;
		padding: 22px 0 36px;
		overflow-y: auto;
		transform: translateX(-100%);
		transition: $tr;

		@include scrollbar(4px, 100%);
	}

	@media (max-width: 500px) {
		min-width: auto;
		width: 100%;
	}
}

.menu__header {
	display: none;

	@media (max-width: $hide-menu) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 var(--container-padding);
	}
}

.menu__close {

	& span {
		height: 2px;
		background: $text-label;
	}

	&:active {

		& span {
			background: brig-color($text-label, hover);
		}
	}

	@media (any-hover: hover) {

		&:hover {

			& span {
				background: brig-color($text-label, hover);
			}
		}

		&:active {

			& span {
				background: brig-color($text-label, active);
			}
		}
	}

	@media (max-width: $hide-menu) {
		margin-left: 24px;
	}
}

.menu__list {
	display: flex;
	align-items: center;

	& li {
		font-size: 15px;

		&:not(:last-child) {
			margin-right: 24px;
		}

		& a {

		}
	}

	@media (max-width: $hide-menu) {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 var(--container-padding);
		margin: 37px 0 37px 32px;

		& li {
			width: 100%;
			font-size: 18px;
			font-weight: 500;

			&:not(:last-child) {
				margin: 0 0 14px 0;
			}

			& a {
				width: 100%;
				display: inline-block;
				padding: 4px 0;
			}
		}
	}
}

.menu__footer {
	display: none;

	@media (max-width: $hide-menu) {
		display: flex;
		flex-direction: column;
		padding: 0 var(--container-padding);
	}
}

.menu__footer-buttons {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: -4px -2px;

	& > * {
		flex: 1 0 auto;
		margin: 4px 2px;
	}
}

.menu__search {
	height: 40px;
	margin-top: 22px;

	.tf__field input,
	.tf__field textarea,
	.tf__label {
		font-size: 14px;
	}
}

.menu__link-calc {
	--icon: url('@img/sprite-new.svg#calc');

	&.has-icon {
		--icon-size: 18px;
		--icon-indent: 10px;
	}
}

.header__email {
	--icon: url('../img/sprite-new.svg#email');
	// margin-left: auto;
	margin: 0 20px 0 auto;
}

.header__socials {
	margin-right: 18px;
}

.header__company-info {
	margin-right: 15px;
}

.header__callback {
	--icon: url('../img/sprite-new.svg#tel');
	--icon-size: 12px;
}

// Нижняя часть меню
.header-down {
	padding: 7px 0;
}

.header-down__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: block;
	min-width: 150px;
	max-width: 220px;
}

.header__project-btn {
	margin-left: 26px;
}

// Поиск
.header__search {
	max-width: 660px;
	width: 100%;
	margin-left: 10px;
}

.header__link-calc {
	--icon: url('@img/sprite-new.svg#calc');

	&.has-icon {
		--icon-size: 24px;
		--icon-indent: 8px;
	}
}

.header__tools {
	display: flex;
	align-items: center;
	margin-left: 24px;

	& > *:not(:last-child) {
		margin-right: 20px;
	}
}