.steps__body {
	counter-reset: stepWork;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(max-content, 360px);
	gap: 6px;

	@media (max-width: $tablet) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 550px) {
		grid-template-columns: 1fr;
		gap: 9px;
	}
}