.acc-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    margin: 32px 0;
}

.acc {
    display: block;
    transition: $tr;

    &.is-open {

        & > .acc__toggle {
			border-bottom-color: $border-line;

            & .acc__toggle-icon {
				background: $accent-second;

				&::before {
					transform: translate(-50%, -50%) scale(-1, -1);
				}
            }
        }

        & > .acc__body {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Шапка аккордеона
.acc__toggle {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    text-align: left;
	border-bottom: 1px solid transparent;
	background: $frame-light;
    cursor: pointer;
	transition: border-color $tr;
}

.acc__toggle-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    // pointer-events: none;
    margin-left: 15px;
    transition: $tr;
}

.acc__toggle-icon {
	--size: 28px;
    position: relative;
    min-width: var(--size);
    width: var(--size);
    height: var(--size);
    display: flex;
	background-color: $accent;
	border-radius: 50%;
    transition: $tr;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 12px;
		height: 12px;
		display: block;
		-webkit-mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
		mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
		background-color: #fff;
		transition: $tr;
	}
}

// Тело аккордеона
.acc__body {
    // max-height: 0;
    // opacity: 0;
    // visibility: hidden;
    // overflow: hidden;
    transition: $tr;
}

.acc__content {
    // padding: 0 16px 16px;
}
