// Основной шаблон кнопки
.btn {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
	color: $light;
    border-radius: $radius-s;
    padding: 0 14px;
    transition: $tr;
    white-space: nowrap;
    user-select: none;

	&.is-accent {
		background: $accent;

		&:active {
			background: brig-color($accent, hover);
		}

		@media (any-hover: hover) {

			&:hover {
				background: brig-color($accent, hover);
			}

			&:active {
				background: brig-color($accent, active);
			}
		}

		&.is-border {
			font-weight: 500;
			color: $text-primary;
			border-color: $accent;

			&::before {
				background: $accent;
			}

			&:active {
				background: create-rgba($accent, .05);
			}

			@media (any-hover: hover) {

				&:hover {
					background: create-rgba($accent, .05);
				}

				&:active {
					background: create-rgba($accent, .1);
				}
			}
		}
	}

	&.is-second {
		background: $accent-second;

		&:active {
			background: brig-color($accent-second, hover);
		}

		@media (any-hover: hover) {

			&:hover {
				background: brig-color($accent-second, hover);
			}

			&:active {
				background: brig-color($accent-second, active);
			}
		}
	}

	&.is-light {
		font-weight: 700;
		color: $text-primary;
		background: #fff;

		@include buttonBgLight;

		& b,
		& strong {
			display: inline;
			color: $accent;
		}

		&.is-border {
			font-weight: 600;
			color: $light;
			background: transparent;
			border-color: $light;

			&:active {
				background: create-rgba($light, .1);
			}

			@media (any-hover: hover) {

				&:hover {
					background: create-rgba($light, .1);
				}

				&:active {
					background: create-rgba($light, .15);
				}
			}
		}
	}

	&.is-border {
		// color: $light;
		background: transparent;
		border: 1.4px solid;
	}

	&.has-icon {

		&::before {
			display: inline-block;
		}
	}

	&::before {
		content: '';
		display: none;
		min-width: var(--icon-size);
		width: var(--icon-size);
		height: var(--icon-size);
		-webkit-mask: center/contain no-repeat var(--icon);
		mask: center/contain no-repeat var(--icon);
		margin-right: 10px;
		vertical-align: middle;
		background: $light;
	}
}

.link {
    transition: $tr;

    @media (any-hover: hover) {

        &:hover {
			--color: #{$accent};
            color: var(--color);
        }
    }

    &:active {
		--color: #{brig-color($accent, active)};
		color: var(--color);
    }

	&.has-icon {
		--icon-size: 16px;
		--icon-indent: 4px;

		position: relative;
		padding-left: calc(var(--icon-size) + var(--icon-indent));
		white-space: nowrap;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			display: inline-block;
			min-width: var(--icon-size);
			width: var(--icon-size);
			height: var(--icon-size);
			transform: translate(0, -50%);
			-webkit-mask: center/contain no-repeat var(--icon);
			mask: center/contain no-repeat var(--icon);
			margin-right: var(--icon-indent);
			vertical-align: middle;
			background: $accent;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -2px;
			right: 0;
			width: calc(100% - (calc(var(--icon-size) + var(--icon-indent))));
			height: 1px;
			border-top: 1px dashed $accent;
		}
	}
}

// Ссылка с иконкой
// .link-icon {
// 	// display: flex;
// 	// align-items: center;

// }

// .link-icon__icon {
// 	min-width: 16px;
// 	width: 16px;
// 	height: 16px;
// 	display: inline-block;
// }

// .link-icon__text {
// 	position: relative;
// 	margin-left: 4px;

// 	&::after {
// 		content: '';
// 		position: absolute;
// 		bottom: -2px;
// 		left: 0;
// 		width: 100%;
// 		height: 1px;
// 		border-top: 1px dashed $accent;
// 	}
// }

// Кнопка проектов
.project-btn {
	height: 50px;
	font-size: 16px;
	font-weight: 700;
	padding: 0 32px;

	&.is-active {

		& .project-btn__icon {

			& span {

				&:nth-child(1) {
					left: 50%;
					width: 100%;
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:nth-child(2) {
					width: 0;
				}

				&:nth-child(3) {
					left: 50%;
					width: 100%;
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
}

.project-btn__icon {
	position: relative;
	display: inline-block;
	min-width: 18px;
	width: 18px;
	height: 18px;
	margin-right: 16px;

	& span {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		display: block;
		height: 2px;
		background: $light;
		transition: $tr;

		&:nth-child(1) {
			width: 9px;
			transform: translate(0, calc(-50% - 6px))
		}

		&:nth-child(2) {
			width: 18px;
		}

		&:nth-child(3) {
			width: 14px;
			transform: translate(0, calc(-50% + 6px))
		}
	}
}

.project-btn__text {

}