.select {
    position: relative;
    width: 100%;
    height: 100%;

    &.is-open {

		& .select-input {
			border-radius: $radius-s $radius-s 0 0;
		}

        & .select-input__chevron {
            transform: translate(0, -50%) scale(-1, -1);
        }

        & .select-dropdown{
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

    &.is-valid {

        & .select-input__title {
            color: $text-primary;
        }
    }
}

.select-input {
    position: relative;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
	background: $frame-light;
    border: 1px solid $border-line;
    border-radius: $radius-s;
    padding: 0;
    cursor: pointer;
}

.select-input__icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
}

.select-input__title {
	font-size: 14px;
    color: $input-placeholder;
	line-height: 1.4;
	text-align: left;
    pointer-events: none;
    padding: 10px 16px;
	padding-right: 50px;
}

.select-input__chevron {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    display: flex;
    width: 24px;
    height: 24px;
    pointer-events: none;
    transition: $tr;

	&::before {
		content: '';
		width: 12px;
		height: 12px;
		display: block;
		-webkit-mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
		mask: center/contain no-repeat url('@img/sprite-new.svg#arrow-triangle');
		background-color: $accent;
		margin: auto;
	}
}

.select-dropdown {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
	border: 1px solid $border-line;
	border-top: none;
    border-radius: 0 0 $radius-s $radius-s;
	background: $frame-light;
    // box-shadow: 0 4px 10px rgba(0,0,0,.2);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $tr;
}

.select-dropdown__list {
    max-height: 210px;
    padding: 10px 0;
    overflow-y: auto;

    @include scrollbar(6px)
}

.select-dropdown__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: inherit;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition: $tr;

    &.is-selected {

        &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z' fill='%236C6C6C'/%3E%3C/svg%3E") no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: 0;
        visibility: hidden;
        transition: $tr;
    }

	&::after {
		content: '';
		display: none;
		width: 12px;
		height: 12px;
		background-color: $text-primary;
		margin-left: 4px;
	} 

	&.is-ascend {

		&::after {
			display: inline-block;
			-webkit-mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"12\" height=\"13\" viewBox=\"0 0 12 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M6.42426 0.975834C6.18995 0.741519 5.81005 0.741519 5.57574 0.975834L1.75736 4.79421C1.52304 5.02853 1.52304 5.40842 1.75736 5.64274C1.99167 5.87705 2.37157 5.87705 2.60589 5.64274L6 2.24863L9.39411 5.64274C9.62843 5.87705 10.0083 5.87705 10.2426 5.64274C10.477 5.40842 10.477 5.02852 10.2426 4.79421L6.42426 0.975834ZM6.6 12.6001L6.6 1.4001L5.4 1.4001L5.4 12.6001L6.6 12.6001Z\" fill=\"black\"/%3E%3C/svg%3E');
			mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"12\" height=\"13\" viewBox=\"0 0 12 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M6.42426 0.975834C6.18995 0.741519 5.81005 0.741519 5.57574 0.975834L1.75736 4.79421C1.52304 5.02853 1.52304 5.40842 1.75736 5.64274C1.99167 5.87705 2.37157 5.87705 2.60589 5.64274L6 2.24863L9.39411 5.64274C9.62843 5.87705 10.0083 5.87705 10.2426 5.64274C10.477 5.40842 10.477 5.02852 10.2426 4.79421L6.42426 0.975834ZM6.6 12.6001L6.6 1.4001L5.4 1.4001L5.4 12.6001L6.6 12.6001Z\" fill=\"black\"/%3E%3C/svg%3E');
		}
	}

	&.is-descend {

		&::after {
			display: inline-block;
			-webkit-mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"12\" height=\"13\" viewBox=\"0 0 12 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M5.57574 12.0242C5.81005 12.2585 6.18995 12.2585 6.42426 12.0242L10.2426 8.20579C10.477 7.97148 10.477 7.59158 10.2426 7.35726C10.0083 7.12295 9.62843 7.12295 9.39411 7.35726L6 10.7514L2.60589 7.35726C2.37157 7.12295 1.99167 7.12295 1.75736 7.35726C1.52304 7.59158 1.52304 7.97147 1.75736 8.20579L5.57574 12.0242ZM5.4 0.399902L5.4 11.5999L6.6 11.5999L6.6 0.399902L5.4 0.399902Z\" fill=\"black\"/%3E%3C/svg%3E');
			mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"12\" height=\"13\" viewBox=\"0 0 12 13\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M5.57574 12.0242C5.81005 12.2585 6.18995 12.2585 6.42426 12.0242L10.2426 8.20579C10.477 7.97148 10.477 7.59158 10.2426 7.35726C10.0083 7.12295 9.62843 7.12295 9.39411 7.35726L6 10.7514L2.60589 7.35726C2.37157 7.12295 1.99167 7.12295 1.75736 7.35726C1.52304 7.59158 1.52304 7.97147 1.75736 8.20579L5.57574 12.0242ZM5.4 0.399902L5.4 11.5999L6.6 11.5999L6.6 0.399902L5.4 0.399902Z\" fill=\"black\"/%3E%3C/svg%3E');
		}
	}

    &:hover {

        @media (any-hover: hover) {
            background: brig-color(#000, .05);
        }
    }

    &:active {
        background: brig-color(#000, .08);
    }
}

.select-dropdown__checkbox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: inherit;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition: $tr;

	& input {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		cursor: pointer;
		opacity: 0;

		&:checked {

			& ~ span {

				&::before {
					background: $accent;
				}
			}
		}
	}

	& span {

		&::before {
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			background: $light;
			border: 1px solid $border-line;
			border-radius: 2px;
			margin-right: 10px;
			vertical-align: middle;
			transition: background-color $tr;
		}
	}
}