.c-gallery {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	background: center/cover no-repeat;
	border-radius: 4px;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 32px;
		height: 32px;
		-webkit-mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"31\" height=\"31\" viewBox=\"0 0 31 31\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M29.3338 27.4997L24.1672 22.333C26.2629 19.7667 27.2924 16.4932 27.0427 13.1893C26.793 9.88545 25.2832 6.80386 22.8256 4.58173C20.3679 2.3596 17.1503 1.16688 13.838 1.25018C10.5258 1.33348 7.37216 2.68644 5.0293 5.0293C2.68644 7.37216 1.33348 10.5258 1.25018 13.838C1.16688 17.1503 2.3596 20.3679 4.58173 22.8256C6.80386 25.2832 9.88545 26.793 13.1893 27.0427C16.4932 27.2924 19.7667 26.2629 22.333 24.1672L27.4997 29.3338C27.6197 29.4549 27.7626 29.551 27.92 29.6166C28.0774 29.6821 28.2462 29.7159 28.4167 29.7159C28.5873 29.7159 28.7561 29.6821 28.9135 29.6166C29.0709 29.551 29.2137 29.4549 29.3338 29.3338C29.4549 29.2137 29.551 29.0709 29.6166 28.9135C29.6821 28.7561 29.7159 28.5873 29.7159 28.4167C29.7159 28.2462 29.6821 28.0774 29.6166 27.92C29.551 27.7626 29.4549 27.6197 29.3338 27.4997ZM14.2084 24.5417C12.1647 24.5417 10.1668 23.9357 8.46751 22.8003C6.7682 21.6648 5.44375 20.051 4.66165 18.1628C3.87954 16.2746 3.67491 14.1969 4.07362 12.1925C4.47234 10.188 5.45649 8.34678 6.90163 6.90163C8.34678 5.45649 10.188 4.47234 12.1925 4.07362C14.1969 3.67491 16.2746 3.87954 18.1628 4.66165C20.051 5.44375 21.6648 6.7682 22.8003 8.46751C23.9357 10.1668 24.5417 12.1647 24.5417 14.2084C24.5417 16.949 23.4531 19.5773 21.5152 21.5152C19.5773 23.4531 16.949 24.5417 14.2084 24.5417Z\" fill=\"white\"/%3E%3Cpath d=\"M18.0827 12.9165H15.4993V10.3332C15.4993 9.9906 15.3633 9.66206 15.121 9.41982C14.8788 9.17759 14.5503 9.0415 14.2077 9.0415C13.8651 9.0415 13.5366 9.17759 13.2943 9.41982C13.0521 9.66206 12.916 9.9906 12.916 10.3332V12.9165H10.3327C9.99011 12.9165 9.66157 13.0526 9.41934 13.2948C9.1771 13.5371 9.04102 13.8656 9.04102 14.2082C9.04102 14.5507 9.1771 14.8793 9.41934 15.1215C9.66157 15.3638 9.99011 15.4998 10.3327 15.4998H12.916V18.0832C12.916 18.4257 13.0521 18.7543 13.2943 18.9965C13.5366 19.2388 13.8651 19.3748 14.2077 19.3748C14.5503 19.3748 14.8788 19.2388 15.121 18.9965C15.3633 18.7543 15.4993 18.4257 15.4993 18.0832V15.4998H18.0827C18.4253 15.4998 18.7538 15.3638 18.996 15.1215C19.2383 14.8793 19.3743 14.5507 19.3743 14.2082C19.3743 13.8656 19.2383 13.5371 18.996 13.2948C18.7538 13.0526 18.4253 12.9165 18.0827 12.9165Z\" fill=\"white\"/%3E%3C/svg%3E');
		mask: center/contain no-repeat url('data:image/svg+xml,%3Csvg width=\"31\" height=\"31\" viewBox=\"0 0 31 31\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M29.3338 27.4997L24.1672 22.333C26.2629 19.7667 27.2924 16.4932 27.0427 13.1893C26.793 9.88545 25.2832 6.80386 22.8256 4.58173C20.3679 2.3596 17.1503 1.16688 13.838 1.25018C10.5258 1.33348 7.37216 2.68644 5.0293 5.0293C2.68644 7.37216 1.33348 10.5258 1.25018 13.838C1.16688 17.1503 2.3596 20.3679 4.58173 22.8256C6.80386 25.2832 9.88545 26.793 13.1893 27.0427C16.4932 27.2924 19.7667 26.2629 22.333 24.1672L27.4997 29.3338C27.6197 29.4549 27.7626 29.551 27.92 29.6166C28.0774 29.6821 28.2462 29.7159 28.4167 29.7159C28.5873 29.7159 28.7561 29.6821 28.9135 29.6166C29.0709 29.551 29.2137 29.4549 29.3338 29.3338C29.4549 29.2137 29.551 29.0709 29.6166 28.9135C29.6821 28.7561 29.7159 28.5873 29.7159 28.4167C29.7159 28.2462 29.6821 28.0774 29.6166 27.92C29.551 27.7626 29.4549 27.6197 29.3338 27.4997ZM14.2084 24.5417C12.1647 24.5417 10.1668 23.9357 8.46751 22.8003C6.7682 21.6648 5.44375 20.051 4.66165 18.1628C3.87954 16.2746 3.67491 14.1969 4.07362 12.1925C4.47234 10.188 5.45649 8.34678 6.90163 6.90163C8.34678 5.45649 10.188 4.47234 12.1925 4.07362C14.1969 3.67491 16.2746 3.87954 18.1628 4.66165C20.051 5.44375 21.6648 6.7682 22.8003 8.46751C23.9357 10.1668 24.5417 12.1647 24.5417 14.2084C24.5417 16.949 23.4531 19.5773 21.5152 21.5152C19.5773 23.4531 16.949 24.5417 14.2084 24.5417Z\" fill=\"white\"/%3E%3Cpath d=\"M18.0827 12.9165H15.4993V10.3332C15.4993 9.9906 15.3633 9.66206 15.121 9.41982C14.8788 9.17759 14.5503 9.0415 14.2077 9.0415C13.8651 9.0415 13.5366 9.17759 13.2943 9.41982C13.0521 9.66206 12.916 9.9906 12.916 10.3332V12.9165H10.3327C9.99011 12.9165 9.66157 13.0526 9.41934 13.2948C9.1771 13.5371 9.04102 13.8656 9.04102 14.2082C9.04102 14.5507 9.1771 14.8793 9.41934 15.1215C9.66157 15.3638 9.99011 15.4998 10.3327 15.4998H12.916V18.0832C12.916 18.4257 13.0521 18.7543 13.2943 18.9965C13.5366 19.2388 13.8651 19.3748 14.2077 19.3748C14.5503 19.3748 14.8788 19.2388 15.121 18.9965C15.3633 18.7543 15.4993 18.4257 15.4993 18.0832V15.4998H18.0827C18.4253 15.4998 18.7538 15.3638 18.996 15.1215C19.2383 14.8793 19.3743 14.5507 19.3743 14.2082C19.3743 13.8656 19.2383 13.5371 18.996 13.2948C18.7538 13.0526 18.4253 12.9165 18.0827 12.9165Z\" fill=\"white\"/%3E%3C/svg%3E');
		background-color: $light;
		opacity: 0;
		pointer-events: none;
		transition: $tr;
	}

	&:active {

		&::before {
			opacity: 1;
			background-color: $accent;
		}
	}

	@media (any-hover: hover) {

		&:hover {

			&::before {
				opacity: 1;
			}
		}

		&:active {

			&::before {
				opacity: 1;
				background-color: $accent;
			}
		}
	}

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	width: 100%;
	// 	height: 100%;
	// 	display: block;
	// 	background: linear-gradient(23.63deg, rgba(0, 0, 0, 0.8) 7.05%, rgba(0, 0, 0, 0) 66.6%);
	// }
}