.m-video {

	& .modal__window {
		padding: 0;
	}

	& .modal-close {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
		display: block;
		min-width: auto;
		width: 24px;
		height: 24px;
		background: $light;
		border-radius: 99px;
		box-shadow: 0 4px 10px rgba(0,0,0,.2);

		& span {

			&:nth-child(1),
			&:nth-child(3) {
				width: 60%;
			}
		}
	}
}