// Бургер
.burger {
    position: relative;
    min-width: 28px;
    width: 28px;
    height: 28px;
    transition: $tr;

    & span {
        position: absolute;
        top: 50%;
        left: 0;
        height: 3.2px;
        display: block;
        background: $text-primary;
        transition: $tr;

        &:nth-child(1) {
			width: 50%;
			transform: translate(0, calc(-50% - 9px));
        }

        &:nth-child(2) {
			width: 100%;
            transform: translate(0, -50%);
        }

        &:nth-child(3) {
			width: 80%;
            transform: translate(0, calc(-50% + 9px));
        }
    }

    &.is-active {

        & span {

            &:nth-child(1) {
				left: 50%;
				width: 100%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
				left: 50%;
				width: 100%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
//========================================================================================================================================================


// Раздел
.section {
    margin: 70px 0;

    @media (max-width: $tablet) {
        margin: 60px 0;
    }

	@media (max-width: $mobile-l) {
		margin: 40px 0;
	}
}

.has-margin-s {
    margin: 50px 0;

    @media (max-width: $mobile-l) {
        margin: 40px 0;
    }
}

.section_fill {
    // background: $frame-dark;
    padding: 50px 0;
}
//========================================================================================================================================================


// Шапка раздела
.s-header {
    margin-bottom: 40px;

	&.has-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@media (max-width: $tablet) {
		margin-bottom: 30px;
	}
}

.s-header__title {
	font-size: 34px;
	font-weight: 600;

	& span {
		color: $accent;
	}

	@media (max-width: $laptop) {
		font-size: 28px;
	}

	@media (max-width: $mobile-l) {
		font-size: 24px;
	}
}

.s-header__subtitle {
	font-size: 26px;
	font-weight: 600;
	margin-top: 19px;

	@media (max-width: $laptop) {
		font-size: 20px;
		margin-top: 12px;
	}

	@media (max-width: $mobile-l) {
		font-size: 17px;
	}
}

.s-header__text {
	font-size: 22px;
	margin-top: 16px;
}
//========================================================================================================================================================


// Ссылка на соц. сеть
.link-soc {
	--icon-size: 16px;

	font-weight: 600;
	border-radius: 98px;

	&[data-link-soc=vk] {
		--icon: url("@img/sprite-new.svg#vk");

		&::before {
			background: #0173F7;
		}
	}

	&[data-link-soc=telegram] {
		--icon: url("@img/sprite-new.svg#telegram");

		&::before {
			background: #40B3E0;
		}
	}

	&[data-link-soc=whatsapp] {
		--icon: url("@img/sprite-new.svg#whatsapp");

		&::before {
			background: #55EF73;
		}
	}

	&[data-link-soc=viber] {
		--icon: url("@img/sprite-new.svg#viber");

		&::before {
			background: #6F5CEA;
		}
	}
}

//========================================================================================================================================================

// Логотип
.logo {

	& img,
	& svg {
		transform: translateY(6%);
	}
}
//========================================================================================================================================================


// Список соц. сетей
.socials {
	display: flex;
	align-items: center;

	& > * {

		&:not(:last-child) {
			margin-right: 6px;
		}
	}
}

.socials__link {
	min-width: 28px;
	width: 28px;
	height: 28px;
	display: flex;
	border-radius: 50%;
	transition: $tr;

	@include buttonBgLight;

	& svg,
	& img {
		width: 16px;
		height: 16px;
		margin: auto;
	}

	& svg {
		fill: $text-primary;
		transition: $tr;
	}
}
//========================================================================================================================================================


// Блок с информацией компании (номер, время работы)
.company-info {
	width: fit-content;
}

.company-info__tel-container {

	&.has-few-tels {

		& .company-info__tel {
			font-size: 16px;
		}
	}
}

.company-info__tel {
	display: block;
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;

	& span {
		color: $accent;
	}
}

.company-info__work-time {
	display: block;
	font-size: 13px;
	text-align: right;
}