@use "sass:math";

// Миксины
@import "./mixins";

// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300..900&display=swap');

// Переменные
// Текст
$text-primary: #333;
$text-second: #4F4F4F;
$text-label: #BDBDBD;
$text-light: #E0E0E0;
$light: #fff;
$accent: #5BAA00;
$accent-second: #C8996B;

// Задний фон разделов
$frame-dark: #222222;
$frame-light: #FAFAFA;

// Обводка
$border-line: rgba(0,0,0,.08);
$border-line-dark: #595959;
$button-bg: #F7F7F7;

// Радиусы
$radius-s: 4px;
$radius-l: 30px;

$error: #EB5757;

// Текстовые поля
$input-placeholder: #828282;

// ================ Colors End ================


// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
// $max-width-container: 1480;
$max-width-container: 1140;
$container-padding: 100;
$container-width: $max-width-container + $container-padding;

:root {
	--container-padding: #{math.div($container-padding, 2) + 'px'};
}

$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;
$hide-menu: 1400px;
// ================ Responsive End ================


// ================ Other Start ================
// $ff-main: 'Exo 2', sans-serif;
$ff-main: 'Exo 2', sans-serif;
$tr: .3s;
// ================ Other End ================
//========================================================================================================================================================

// Сброс CSS
@import "./reset";

body {

    .is-lock & {
        overflow: hidden;
		touch-action: none;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .content {
        flex: 1 0 auto;
        position: relative;
        z-index: 1;
		padding-bottom: 84px;

		& > * {

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.has-pb-null {
			padding-bottom: 0;
		}
	}
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
[class*="__container"] {
    @if ($max-width-container>0) {
        max-width: $max-width-container + px;
        box-sizing: content-box;
        margin: 0 auto;
    }
    @if ($container-padding>0) {
        padding: 0 var(--container-padding);
    }

	&.is-large {
		max-width: 1480px;
	}

	@media (max-width: $tablet) {
		--container-padding: 30px;
	}

    @media (max-width: $mobile-l) {
		--container-padding: 20px;
    }

    @media (max-width: $mobile-m) {
		--container-padding: 16px;
    }
}


// Библиотеки
@import "./libs/swiper";
@import "./libs/lightgallery";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Компоненты
@import "./components/search";
@import "./components/breadcrumbs";
@import "./components/pagin";
@import "./components/banner-search";
@import "./components/location";
@import "./components/m-proj";

// Карточки
@import "./components/cards/c-project";
@import "./components/cards/c-steps";
@import "./components/cards/c-reviews";
@import "./components/cards/c-gallery";
@import "./components/cards/c-trust";

// Модальные окна
@import "./components/modals/video";

// Стили частоиспользуемых секций
@import "./sections/header";
@import "./sections/main";
@import "./sections/s-search";
@import "./sections/find-project";
@import "./sections/steps";
@import "./sections/unique";
@import "./sections/order-estimate";
@import "./sections/map";
@import "./sections/slider";
@import "./sections/reviews";
@import "./sections/gallery";
@import "./sections/trust";
@import "./sections/footer";


// Стили для отдельных страниц
// @import "./pages/";